<div class="txtcenter pam bg--white" <%= sibu_attrs %>>
  <%= page.link('link', class: 'mtm mbm flex-container--row aic jcc no_udl u-big fw500') do |link_elt| %>
    <i class="fas fa-chevron-circle-right txt--warning prvs"></i><%= link_elt['text']  %>
  <% end %>
</div>