<div class="pam bg--white w100 mw1140p center" <%= sibu_attrs %>>
  <%= page.h3('title', class: 'flex-container--row aic') do |title_elt| %>
    <i class="apidae-icon-chevronright txt--primary u-big prs"></i>
    <span class="item-fluid lh"><%= title_elt['text'] %></span>
  <% end %>
  <%= page.p('text', class: 'lh') %>
</div>

