<div class="pam bg--white w100 mw1140p center" <%= sibu_attrs %>>
  <i class="apidae-icon-chevronright txt--primary u-big prs"></i><%= page.h3('h3', class: 'flex-container--row aic mtl') %>
<%= page.p('text', class: 'lh') %>
</div>

