<div class="pam bg--white" <%= sibu_attrs %>>
  <video class="w75 center" playsinline="" controls="" poster="https://static.souscription.apidae-tourisme.com/apidae-souscription-preview.png">
    <source src="https://static.souscription.apidae-tourisme.com/apidae-souscription.mp4" type="video/mp4">
  </video>
</div>