<div class="pam bg--white" <%= sibu_attrs %>>
  <iframe class="video_iframe w75 center" src="https://www.youtube-nocookie.com/embed/YHicKE5zbBc" title="Apidae Tourisme" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>