<p>
  Bonjour,<br/>
  <br/>
  Vous avez déclaré votre intention de prendre des parts sociales au capital de la Société Coopérative d’Intérêt Collectif (Scic) SA Apidae Tourisme, je vous en remercie.<br/>
  <br/>
  Je vous invite à valider en ligne vos informations de souscription afin de recevoir votre bulletin de souscription
  à signer et définir vos modalités de paiement via <a href="<%= edit_subscription_url(@subscription) %>" target="_blank">ce formulaire en ligne</a>.<br/>
  <br/>
  Les fonds correspondant au montant de votre souscription pourront être payés par virement ou chèque avant le 16 mars 2020.<br/>
  <br/>
  <br/>
  Pour toute question, vous pouvez envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a><br/>
  <br/>
  Merci de votre confiance
</p>
Karine Feige<br/>
Directrice Apidae
