<p>
  Bonjour,<br/>
  <br/>
  Nous vous remercions pour votre déclaration d’intention, celle-ci a bien été prise en compte.<br/>
  <br/>
  Nous reviendrons vers vous dans les deux mois qui viennent afin de concrétiser votre engagement par le biais :<br/>
  - d’un bulletin de souscription;<br/>
  - du dépôt des fonds associés.<br/>
  <br/>
  En cas de besoin, vous pouvez télécharger les modèles de délibération à partir de ce lien : <a href="https://www.apidae-tourisme.com/apidae-demain/modeles-deliberation/">https://www.apidae-tourisme.com/apidae-demain/modeles-deliberation/</a>.<br/>
  <br/>
  Pour suivre les actualités de la Scic SA Apidae Tourisme, rendez-vous dans la rubrique Apidae Demain : <a href="https://www.apidae-tourisme.com/apidae-demain/">https://www.apidae-tourisme.com/apidae-demain/</a>.
  <br/>
  <br/>
  <img style="width: 160px; height: auto;" src="<%= asset_path('logo_apidae.png') %>"/><br/>
  <a href="https://www.apidae-tourisme.com">www.apidae-tourisme.com</a><br/>
  <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a>
</p>
