<p>
  Bonjour,<br/>
  <br/>
  Nous vous remercions pour votre souscription, celle-ci a bien été prise en compte.<br/>
  <br/>
  Vous pouvez télécharger votre bulletin de souscription en suivant <a href="https://print.souscription.apidae-tourisme.com/souscription?path=<%= CGI.escape(document_subscription_url(@subscription, only_path: true)) %>" target="_blank">ce lien</a>.<br/>
  <br/>
  <% if @subscription.payment_method == 'cheque' %>
    Merci de libeller votre chèque à l’ordre de Apidae Tourisme Scic SA et de l’envoyer avec une copie de ce bulletin à : Apidae Tourisme, 11B Quai Perrache, 69002 Lyon<br/>
  <% else %>
    Nous vous enverrons prochainement un mail avec les coordonnées bancaires pour votre virement.<br/>
  <% end %>
  <br/>
  Nous vous tiendrons informés des prochaines assemblées.<br/>
  <br/>
  Pour suivre les actualités de la Scic SA Apidae Tourisme, rendez-vous dans la rubrique Apidae Demain : <a href="https://www.apidae-tourisme.com/apidae-demain/">https://www.apidae-tourisme.com/apidae-demain/</a>.
  <br/>
  <br/>
  Pour toute question, vous pouvez envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a><br/>
  <br/>
  L'équipe Apidae Tourisme
</p>
