<p>
  Bonjour,<br/>
  <br/>
  Nous vous remercions pour votre déclaration d'intention, celle-ci a bien été prise en compte.<br/>
</p>
<ul>
  <li>
    Pour confirmer votre souscription, je vous invite à aller sur <a href="<%= edit_subscription_url(@subscription) %>" target="_blank">ce formulaire</a> :
    vous pourrez <b>valider</b> vos informations de souscription, signer en ligne votre bulletin pré-rempli ou le télécharger puis le retourner, une fois signé, par mail ou voie postale.
  </li>
  <li>
    Vous choisirez également vos modalités de paiement : les fonds correspondant au montant de votre souscription pourront être réglés par virement ou chèque.
  </li>
</ul>
<p>
  <br/>
  Merci de votre confiance.<br/>
  <br/>
  Pour toute question, vous pouvez envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a><br/>
  <br/>
  L'équipe Apidae Tourisme
</p>
