<p>
  Bonjour,<br/>
  <br/>
  Nous vous remercions pour votre déclaration d'intention, celle-ci a bien été prise en compte.<br/>
</p>
<p>
  Vous devez à présent confirmer votre déclaration d’intention en complétant <a href="<%= edit_subscription_url(@subscription) %>" target="_blank">votre bulletin de souscription pré-rempli en ligne</a>.<br/>
  Vous pourrez ainsi vérifier et valider les informations renseignées et signer le bulletin. Soit vous le signez, soit vous le téléchargez et vous le renvoyez, une fois signé, par mail ou par voie postale.<br/>
  Vous choisirez également votre modalité de paiement. Les fonds correspondant au montant de votre souscription peuvent être libérés par virement ou chèque. Nous vous demandons de privilégier le virement quand cela est possible.
</p>
<p>
  <br/>
  Merci de votre confiance.<br/>
  <br/>
  Pour toute question, vous pouvez envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a><br/>
  <br/>
  L'équipe Apidae Tourisme
</p>
