<div id="site_header" class="w100 mw1140p center flex-container">
  <%= link_to image_tag('logo_apidae.svg', class: 'item-center'), '/' %>
  <div class="txtright item-fluid lh">
    <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'btn btn--outline btn--inverse' %>
  </div>
</div>