<% if @subscription.opportunity_id %>
  <a href="https://www.sellsy.fr/prospection/opportunities/<%= @subscription.opportunity_id %>" target="_blank" class="bg--inverse pas mbm">
    <i class="fas fa-link fa-2x"></i>
  </a>
<% end %>
<%= button_to 'Mettre à jour'.html_safe, sync_crm_sub_path(@subscription), remote: true, method: :get,
            data: {confirm: 'Enregistrer la souscription dans la base GRC ?', disable_with: 'En cours...'},
              id: 'sync_crm_link', class: 'bg--warning pas' %>
<% unless @subscription.crm_history.blank? %>
  <button class="js-modal bg--primary pas mtm" data-modal-prefix-class="simple-animated"
          data-modal-content-id="crm_history_modal" data-modal-describedby-id="crm_history_description"
          data-modal-title="Dernière mise à jour CRM" data-modal-close-text="Fermer" data-modal-close-title="Fermer la fenêtre"
          aria-haspopup="dialog">
    <i class="fas fa-history fa-2x"></i>
  </button>
<% end %>