<footer class="bg--primary pam u-txt-center u-uppercase">
  <div class="w100 mw1140p center pbl">
    <div id="media_links" class="txtcenter u-bigger">
      <a href="https://www.linkedin.com/company/apidae-tourisme/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://fr-fr.facebook.com/reseauApidae/" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/ApidaeTourisme?lang=fr" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCSeGFcMYc4QSEbywxSHfRPw" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    <p class="mts txtcenter u-uppercase fw500">Suivez-nous</p>
    <div id="footer_links" class="mtl fw500">
      <a href="/mentions-legales">Mentions légales</a>
      <a href="https://www.apidae-tourisme.com" target="_blank">Qui sommes-nous ?</a>
      <a href="/contact">Contact</a>
      <a href="https://www.apidae-tourisme.com/apidae-demain/questions-frequentes/" target="_blank">FAQ</a>
    </div>
  </div>
</footer>