<footer class="bg--primary pam u-txt-center u-uppercase">
  <div class="w100 mw1140p center pbl">
    <div id="media_links" class="txtcenter u-bigger">
      <a href="/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="/">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="/">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <p class="mts txtcenter u-uppercase fw500">Suivez-nous</p>
    <div id="footer_links" class="mtl fw500">
      <a href="/">Mentions légales</a>
      <a href="/">Qui sommes-nous ?</a>
      <a href="/">Contact</a>
      <a href="/">FAQ</a>
    </div>
  </div>
</footer>