<div id="site_header" class="w100 mw1140p center flex-container">
  <%= link_to image_tag('logo_apidae.svg', class: 'item-center'), '/' %>
  <a href="/#home_why">Pourquoi souscrire ?</a>
  <a href="/comment-souscrire">Comment souscrire ?</a>
  <a href="/souscrire" class="btn btn--inverse medium-hidden large-hidden">Je souscris</a>
  <div class="txtright item-fluid lh small-hidden tiny-hidden">
    <p class="inbl txtcenter mrm countdown"><strong class="u-big txt--danger"><i class="fas fa-hourglass-half prvs"></i>16/03/2020</strong><br/>fin de la 1<sup>ère</sup> levée de fonds</p>
    <a href="/souscrire" class="inbl btn btn--big btn--inverse">Je souscris</a>
  </div>
</div>