<div id="site_header" class="w100 mw1140p center flex-container aic">
  <%= link_to image_tag('logo_apidae.svg', class: 'item-center'), '/' %>
  <div id="ratio_figure" class="pll">
    <div class="fl" style="<%= "background: linear-gradient(0deg, #74C5EA #{amount_ratio}%, transparent #{amount_ratio}%);" %>"></div>
    <p class="ma0 lh">
      <strong class="u-bigger"><span class="nbr txt--info"><%= total_amount %></span></strong><br/>engagés sur un objectif de <span class="nbr">700000</span>
    </p>
  </div>
  <div class="vsep"></div>
  <div>
    <p class="lh ma0"><strong class="u-bigger txt--success"><%= subscriptions_count %></strong><br/>sur 250 sociétaires</p>
  </div>
  <div class="vsep"></div>
  <div>
    <p class="lh ma0">
      <strong class="u-bigger txt--danger">31/03/2021</strong><br/>fin de la 3<sup>ème</sup> levée de fonds
    </p>
  </div>
  <a href="/devenir-societaire" class="btn btn--big btn--inverse mlm mrs">Devenir<br/>sociétaire</a>
</div>