<% if controller_name == 'pages' %>
  <div id="site_header" class="w100 mw1140p center flex-container aic" <%= sibu_attrs('header') %>>
    <%= link_to image_tag('logo_apidae.png', class: 'item-center'), '/' %>
    <%= site.p('header_title', class: 'h3-like lh') %>
    <a href="/devenir-societaire" class="apidae_btn_solid mlm mrs">Devenir sociétaire</a>
  </div>
<% else %>
  <div id="site_header" class="w100 mw1140p center flex-container aic">
    <%= link_to image_tag('logo_apidae.png', class: 'item-center'), '/' %>
    <a href="/devenir-societaire" class="apidae_btn_solid mlm mrs">Devenir sociétaire</a>
  </div>
<% end %>
