<section id="static_section" class="bg--primary">
  <div id="confirmation_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl mbl h2-like">Contact</h1>
      <div class="pal bg--white">
        <p class="pre ma0">Les informations concernant la mise en place de la future Scic SA Apidae Tourisme et la prise de participation au capital sont disponibles :
          - <a href="http://souscription.apidae-tourisme.com">sur ce site</a> dans les pages “Pourquoi souscrire ?” et “Comment souscrire ?”
          - dans la rubrique <a href="https://www.apidae-tourisme.com/apidae-demain/" target="_blank">Apidae demain</a> du site du réseau

          Si vous avez besoin d’informations complémentaires, vous pouvez nous adresser une <a href="mailto:support@apidae-tourisme.zendesk.com?subject=Demande-via-site-souscription-Apidae-Tourisme">demande par mail</a>.

          Merci
        </p>
      </div>
    </div>
  </div>
</section>