<section id="static_section" class="bg--primary">
  <div id="faq_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl tiny-ma0 lh h3-like"> Vous trouverez ici les réponses aux questions que
        vous vous posez sur Apidae Tourisme Scic (Société Collaborative d’Intérêt Collectif) SA, à capital
        variable.</h1>
      <p class="txtcenter mts lh">
        Si cela n’était pas le cas, merci d’envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a>
      </p>
    </div>
    <div class="pam bg--white w100 mw1140p center">
      <h2 class="h4-like mbs txtcenter bg--danger pas">Parts sociales</h2>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Comment
        faire pour prendre des parts sociales ?</span></h3>
      <p> Les différentes étapes sont détaillées dans la page <a href="https://souscription.apidae-tourisme.com/comment-souscrire" target="_blank">"Comment souscrire".</a>
      </p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">La part
        sociale remplacera-t-elle la contribution financière actuelle ?</span></h3>
      <p>Non, ce sont deux choses différentes. <strong>La contribution financière est obligatoire et
        annuelle.</strong> C’est la contribution des membres au fonctionnement du réseau Apidae.
        <strong>La part sociale est facultative.</strong> S’agissant d’une société à capital variable, elle peut être
        prise à tout moment. La prise de participation dans une société ne correspond pas à une vente. Elle ne donne
        donc pas lieu à l’établissement d’une facture. Le bulletin de souscription fait office de pièce comptable pour
        justifier la dépense, c’est un investissement que l’on retrouve dans le « haut de bilan ».</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Puis-je
        continuer à utiliser la plateforme Apidae si je ne prends pas de part sociale dans la société ?</span></h3>
      <p> Oui, c’est le règlement de la contribution financière qui autorise l’utilisation de la plateforme
        Apidae.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Quel sera
        le montant de la contribution annuelle pour les acteurs territoriaux en 2020 ?</span></h3>
      <p>En 2020, le montant de la contribution annuelle est le même qu’en 2019 (décision du Comité
        Exécutif). Une nouvelle politique tarifaire sera mise en place en 2021.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Pourquoi
        prendre des parts dans la nouvelle structure Apidae ?</span></h3>
      <p>Prendre des parts sociales est un moyen de sécuriser le financement de la Scic SA qui maintient et
        développe le réseau Apidae Tourisme. La prise de parts sociales assure la pérennité de la plateforme Apidae qui
        est au coeur de nombreuses organisations de l’écosystème touristique. Enfin, prendre des parts sociales, c’est
        aussi participer aux prises de décisions, en votant lors des Assemblées Générales.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Quel est le
        montant de la part sociale ?</span></h3>
      <p> Le montant de la part sociale a été fixée à 100 € pour permettre à tous d’investir. Cependant, une
        prise de participation minimum est demandée pour certaines catégories de sociétaires.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Combien
        peut-on prendre de parts sociales au capital de la Scic SA ?</span></h3>
      <p>Un sociétaire peut prendre autant de parts sociales qu’il le souhaite. Un montant minimum
        (<a href="https://souscription.apidae-tourisme.com/comment-souscrire">consulter l'étape 1 dela page de
        souscription</a>) est requis en fonction de la catégorie d’associés à laquelle il appartient, mais il n’y a
        pas de montant maximum.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Une SPL
        (Société Publique Locale) peut elle prendre des parts dans une Scic?</span></h3>
      <p>Non, une SPL ne peut pas prendre de parts dans une société commerciale. Les salariés de la SPL
        peuvent prendre des parts sociales en tant que soutiens et la collectivité territoriale dont dépend la SPL peut
        elle aussi prendre des parts sociales.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Est-ce
        qu’une collectivité territoriale peut prendre des parts sociales ?</span></h3>
      <p>Oui, une collectivité territoriale peut prendre des parts sociales sauf elle a la statut de Société
        Publique Local (SPL).</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Est ce que
        je peux prendre une part sociale à titre individuel ?</span></h3>
      <p>Oui, il est possible de prendre des parts en tant que personne physique, dans la catégorie
        “soutiens” (<a href="https://souscription.apidae-tourisme.com/comment-souscrire">consulter l'étape 1 de la page
        de souscription</a>) et ceci, indépendamment des parts sociales prises par la structure pour laquelle on
        travaille.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Les parts
        sociales achetées peuvent-elles se revendre et dans quelles conditions ?</span></h3>
      <p>La Scic SA est une société de droit coopératif. Les parts sociales ne sont donc pas
        transmissibles, sauf entre associés et après agrément de la cession par le Conseil d’Administration.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Puis-je
        revendre des parts sociales avec une plus-value financière ?</span></h3>
      <p>Comme toute société de droit coopératif, il n’y a pas de plus-value financière. Les réserves sont
        impartageables et les bénéfices éventuels sont réinvestis pour le bien commun.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>
        <span class="item-fluid lh">Existe-t-il un modèle de délibération pour les collectivités territoriales et les personnes morales ?</span></h3>
      <p>Oui, un modèle est disponible <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/modele-deliberation-souscription-apidae-tourisme-02-2020.pdf" target="_blank">en ligne</a>
        pour vous aider à prendre les décisions : prise de participation, montant et désignation du représentant de la structure.</p>
    </div>
    <div class="pam bg--white w100 mw1140p center">
      <h2 class="h4-like mbs txtcenter bg--danger pas">Gouvernance et modes de décision</h2>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>Quelles
        sont les différentes catégories d’associés ?</h3>
      <p>8 catégories d’associés sont décrites dans <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf" target="_blank">les statuts de la Scic</a> :</p>
      <ul>
        <li>moteurs de l’économie territoriale</li>
        <li>financeurs</li>
        <li>coordinateurs territoriaux</li>
        <li>acteurs territoriaux</li>
        <li>fournisseurs de service</li>
        <li>socioprofessionnels</li>
        <li>salariés et producteurs des services de la Scic</li>
        <li>soutiens du réseau</li>
      </ul>
      <p>
      Pour plus d’information sur les différentes catégories,
      <a href="https://souscription.apidae-tourisme.com/comment-souscrire">consultez la page "Comment souscrire".</a>
      </p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Un
        sociétaire peut-il appartenir à plusieurs collèges ?</span></h3>
      <p>Non, un sociétaire appartient à une seule catégorie d’associés et donc, à un seul collège de vote
        lors des Assemblées Générales.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Quels sont
        les critères d’entrée de nouveaux sociétaires ?</span></h3>
      <p>Il n’y a pas ni sélection, ni processus de cooptation, mais le Conseil d’Administration peut
        décider de refuser un associé ou le changer de catégorie si celle-ci n’est pas adaptée. C’est le Conseil
        d’Administration qui valide l’entrée des nouveaux sociétaires.
      </p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Quelles
        sont les organes de décision de la Scic SA ?</span></h3>
      <p>Il existe deux organes de gouvernance principaux, l’Assemblée Générale et le Conseil
        d’Administration.<br/>
        <br/>
        <strong>L’Assemblée Générale :</strong></p>
      <ul>
        <li>est composée de l’ensemble des sociétaires de la Scic SA</li>
        <li>vote par collèges définis dans les statuts
          <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf">lien
            vers les statuts </a></li>
        <li>approuve les comptes</li>
        <li>fixe les orientations générales de la coopérative</li>
        <li> élit les membres du conseil d'administration et peut les révoquer</li>
        <li>ratifie l'affectation des excédents proposés par le Conseil d'Administration</li>
        <li>valide les modifications de statuts le cas échéant.</li>
      </ul>
      <p><strong>Le Conseil d’Administration :</strong></p>
      <ul>
        <li> est composé de 17 administrateurs, renouvelables par tiers, élus lors des Assemblées Générales Ordinaires.
          Les administrateurs sont des mandataires sociaux, ils ont donc une responsabilité civile et pénale.
        </li>
        <li>valide ou refuse l’admission des nouveaux sociétaires.</li>
        <li> détermine les orientations des activités de la société et veille à leur mise en oeuvre.</li>
        <li> décide notamment des investissements courts et moyens termes</li>
        <li> contrôle la bonne gestion financière du bien commun</li>
        <li>nomme le ou les dirigeant(s) de l'entreprise</li>
      </ul>
      <p>
        Pour plus d’informations sur le Conseil d’Administration et l’Assemblée
        Générale, <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf">téléchargez
        les statuts</a>.
      </p>
    </div>
    <div class="pam bg--white w100 mw1140p center">
      <h2 class="h4-like mbs txtcenter bg--danger pas">Organisation et ressources humaines</h2>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">
        Depuis quand la Scic SA est-elle opérationnelle ?</span></h3>
      <p>Le 26 mars 2020, le Conseil d’Administration de la Scic SA a validé officiellement le lancement de l’activité de la société au 01 avril 2020.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Combien y
        a t-il de salariés au sein de la Scic SA ?</span></h3>
      <p>Il y a actuellement 9 salariés au sein de la coordination globale d’Apidae Tourisme qui dépend
        d’Auvergne Rhône-Alpes Tourisme, épaulés par 22 animateurs départementaux. La question des ressources humaines
        est l’un des sujets majeurs de l’organisation de la structure et du business plan.</p>
      <h3 class="flex-container--row aic mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i><span class="item-fluid lh">Où est
        situé le siège social de la société ?</span></h3>
      <p>Le siège de la société est situé au 35 rue de Marseille, 69007 Lyon.</p>
    </div>
  </div>
</section>
