<div class="mw1140p center pam">
  <section id="font_apidae_demo">
    <h3>Apidae font icons :</h3>
    <% apidae_icons.each do |f| %>
      <i class="u-bigger <%= f %>"></i>
    <% end %>
  </section>
  <section id="font_apidae_actions_demo">
    <h3>Apidae actions font icons :</h3>
    <% apidae_actions.each do |f| %>
      <i class="u-bigger <%= f %>"></i>
    <% end %>
  </section>

  <div class="hexa_container">
<!--    <div class="hexa_border">-->
      <div class="hexa_content">
        test
      </div>
<!--    </div>-->
  </div>
</div>
