<div class="mw1140p center pam">
  <section id="font_apidae_demo">
    <h3>Apidae font icons :</h3>
    <% apidae_icons.each do |f| %>
      <i class="u-bigger <%= f %>"></i>
    <% end %>
  </section>
</div>
