<section id="static_section" class="bg--primary">
  <div id="confirmation_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl mbl tiny-ma0 lh h2-like">Vous souhaitez devenir sociétaire de Apidae Tourisme, Scic SA à capital variable ?</h1>
      <div class="grid-2 has-gutter u-small mtm">
        <p class="bg--white pas lh">Télécharger <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/statuts-apidae-tourisme-scic-sa-a-capital-variable.pdf" target="_blank">les statuts d’Apidae Tourisme, Scic SA à capital variable</a></p>
        <p class="bg--white pas lh">Pour faciliter et accompagner la prise de décision dans votre structure, vous pouvez télécharger <a href="https://www.apidae-tourisme.com/wp-content/uploads/2020/02/modele-deliberation-souscription-apidae-tourisme-02-2020.pdf" target="_blank">un modèle de délibération</a></p>
        <p class="bg--white pas lh">Vous avez une question ? N’hésitez à consulter notre page <a href="https://www.apidae-tourisme.com/apidae-demain/questions-frequentes/" target="_blank">“questions fréquentes”</a></p>
        <p class="bg--white pas lh">Pour toute autre demande, merci de nous envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a></p>
      </div>
      <div class="pam bg--white">
        <p class="txtcenter mbl u-big">La prise de parts au capital se déroule en <strong>quatre étapes obligatoires</strong> :</p>
        <h2 class="h4-like mbs lh txtcenter flex-container aic bg--inverse">
          <span class="inbl tiny-w100 w20 pas">1ère étape</span><span class="item-fluid pas bg--primary">Dès le 16 décembre 2019 : la déclaration d’intention</span>
        </h2>
        <div class="pam pll tiny-pa0">
          <p>
            Vous devez remplir une déclaration d’intention en ligne sur le <a href="/souscrire" target="_blank">site dédié à la souscription.</a><br/>
          </p>
          <p>
            <strong>En fonction de la catégorie de souscripteurs à laquelle vous ou votre structure appartenez, le nombre de parts minimum sera différent. La valeur d’une part est de 100 €.</strong> Les parts sociales ne sont ni vendables, ni cessibles.<br/>
            <strong>Attention</strong> : les Sociétés Publiques Locales (SPL) ne sont pas autorisées à prendre de parts sociales dans une société mais les collectivités locales dont elles dépendent peuvent prendre des parts si elles le souhaitent.
          </p>

          <h4 class="flex-container--row aic mbm mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>Moteurs de l’économie territoriale</h4>
          <p>
            Personnes morales et collectivités territoriales, associées de la Scic dont l'intérêt principal est de contribuer à la structuration et au développement économique des territoires et qui, à ce titre souhaitent s’investir fortement dans le projet. Ex : Régions.<br/>
            <strong>Nombre de parts minimum : 1 000 parts soit 100 000 €</strong>
          </p>

          <h4 class="flex-container--row aic mbm mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>Coordinateurs territoriaux</h4>
          <p>
            Personnes morales et collectivités en charge du développement de l’économie locale et/ou de la structuration de leur territoire qui mettent à disposition du réseau des ressources humaines pour l'accompagnement des utilisateurs de la plateforme dans le cadre d'une convention spécifique passée avec la Scic SA. Ex : Comités Départementaux de tourisme, Conseils Départementaux.<br/>
            <strong>Nombre de parts minimum : 50 parts soit 5 000 €</strong>
          </p>

          <h4 class="flex-container--row aic mbm mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>Acteurs territoriaux</h4>
          <p>
            Personnes morales en charge du développement de l’économie locale, d’une marque ou d’une destination touristique, et qui utilisent les services de la plateforme via un abonnement. Ex : Offices de Tourisme, Communautés de Communes.<br/>
            <strong>Nombre de parts minimum : 10 parts soit 1 000 €</strong>
          </p>

          <h4 class="flex-container--row aic mbm mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>Fournisseurs de services</h4>
          <p>
            Personnes morales et personnes physiques, opérateurs économiques variés, qui proposent des services à destination des autres communautés, et qui utilisent les services de la plateforme via un abonnement. Ex : agences web, éditeurs de logiciels, start-ups.<br/>
            <strong>Nombre de parts minimum : 10 parts soit 1 000 €</strong>
          </p>

          <h4 class="flex-container--row aic mbm mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>Socio-professionnels</h4>
          <p>
            Personnes morales et personnes physiques, professionnels de l’économie touristique, qui commercialisent des biens et des services, à destination des touristes ou des habitants, et qui utilisent les services de la plateforme via un abonnement. Ex : hébergeurs, prestataires d’activités.<br/>
            <strong>Nombre de parts minimum : 5 parts soit 500 €</strong>
          </p>

          <h4 class="flex-container--row aic mbm mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>Salariés</h4>
          <p>
            Personnes physiques ayant un contrat de travail avec la Scic.<br/>
            <strong>Nombre de parts minimum : 1 part soit 100 €</strong>
          </p>

          <h4 class="flex-container--row aic mbm mtl"><i class="apidae-icon-chevronright txt--primary u-big prs"></i>Soutiens du réseau</h4>
          <p>
            Personnes physiques ou morales souhaitant apporter un soutien au réseau (financier, expertise, apport de données …) et s’impliquer dans la gouvernance. Ex : greeters, ambassadeurs.<br/>
            <strong>Nombre de parts minimum : 1 part soit 100 €</strong>
          </p>

          <p class="mtl">
            Une fois le formulaire validé, vous recevrez un mail de confirmation avec les prochaines étapes de la souscription. La déclaration d’intention ne constitue pas un engagement.
          </p>
        </div>

        <h2 class="h4-like mbs mtl lh txtcenter flex-container aic bg--inverse">
          <span class="inbl w20 tiny-w100 bg--inverse pas">2ème étape</span><span class="item-fluid pas bg--primary">Mi-février 2020 : le bulletin de souscription de parts sociales</span>
        </h2>
        <div class="pam pll tiny-pa0">
          <p>
            Les personnes morales, les collectivités territoriales et les personnes physiques doivent remplir et signer un bulletin de souscription qui traduit leur engagement dans la Scic SA Apidae Tourisme.<br/>
            Les bulletins de souscription seront téléchargeables prochainement.
          </p>
        </div>

        <h2 class="h4-like bg--inverse mbs mtl lh txtcenter flex-container aic">
          <span class="inbl w20 tiny-w100 bg--inverse pas">3ème étape</span><span class="item-fluid pas bg--primary">Avant le 16 mars 2020 : dépôt des fonds sur le compte d’Apidae Tourisme, Scic SA à capital variable.</span>
        </h2>
        <div class="pam pll tiny-pa0"></div>
        <h2 class="h4-like bg--inverse mbs mtl lh txtcenter flex-container aic">
          <span class="inbl w20 tiny-w100 bg--inverse pas">4ème étape</span><span class="item-fluid pas bg--primary">Le 26 mars 2020 : validation de votre candidature au sociétariat par le Conseil d’Administration d’Apidae Tourisme, Scic à capital variable.</span>
        </h2>
        <div class="pam pll tiny-pa0">
          <p>
            Vous êtes officiellement sociétaire de la Scic SA Apidae Tourisme.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>