<section id="static_section" class="bg--primary">
  <div id="confirmation_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl mbl h2-like">Mentions légales</h1>
      <div class="pal bg--white">
        <p>
          En parcourant les pages du site souscription.apidae-tourisme.com, l’internaute reconnaît avoir lu et accepté les limites de responsabilités et les conditions d’utilisation du site.
        </p>
        <p>
          En tant que gestionnaire du réseau Apidae, Auvergne Rhône-Alpes Tourisme ne peut être tenu responsable des difficultés de connexion au réseau Internet ou de visualisation des pages du site. L’internaute reconnaît, en particulier, être informé des différences d’interprétation des pages Internet par les différents logiciels de navigation présents sur le marché.
        </p>
        <h2 class="h3-like mtm">Propriétaire du site :</h2>
        <p class="pre ma0">Auvergne Auvergne Rhône-Alpes Tourisme – Apidae
          Siège social : 11B quai Perrache 69002 LYON
          Site distant :  59 boulevard Léon Jouhaux – CS 90706 – 63050 CLERMONT FERRAND Cedex 2
          info@apidae-tourisme.com
          Responsable publication : Karine Feige, Directrice du projet Apidae
        </p>

        <h2 class="h3-like mtm">Réalisation et hébergement du site :</h2>
        <h3 class="h5-like">Conception et développement</h3>
        <p>Hôtentic<br/>
        3 Esplanade Augustin Aussedat, Les Papeteries Image Factory, Cran-Gevrier<br/>
        74960 Annecy<br/>
        contact@hotentic.com
        </p>
        <h3 class="h5-like">Graphisme</h3>
        <p>Chapka<br/>
          3 Esplanade Augustin Aussedat, Les Papeteries Image Factory, Cran-Gevrier<br/>
          74960 Annecy<br/>
          http://chapka-design.com/
        </p>
        <h3 class="h5-like">Motion design</h3>
        <p>Charlotte Le Bacon<br/>
          https://charlottelebacon.com/
        </p>

        <h2 class="h3-like mtm">Conditions générales d’utilisation du site et des services proposés</h2>
        <p class="pre ma0">L’utilisation du site souscription.apidae-tourisme.com implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site sont donc invités à les consulter de manière régulière. Ce site est normalement accessible à tout moment aux utilisateurs.
        Une interruption pour raison de maintenance technique peut être toutefois décidée par Auvergne Rhône-Alpes Tourisme, en tant que gestionnaire du réseau Apidae, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
          Le site souscription.apidae-tourisme.com est mis à jour régulièrement. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>

        <h2 class="h3-like mtm">Description des services fournis</h2>
        <p class="pre ma0">Le site souscription.apidae-tourisme.com a pour objet de fournir une information concernant la prise de participation au capital de Apidae Tourisme, Scic SA à capital variable. En tant que gestionnaire du réseau Apidae, Auvergne Rhône-Alpes Tourisme s’efforce de fournir sur le site des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
          Toutes les informations indiquées sur le site sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

        <h2 class="h3-like mtm">Limitations contractuelles sur les données techniques</h2>
        <p class="pre ma0">Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.</p>

        <h2 class="h3-like mtm">Propriété intellectuelle et contrefaçons</h2>
        <p class="pre ma0">En tant que gestionnaire du réseau Apidae, Auvergne Rhône-Alpes Tourisme est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.
        Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : Auvergne Rhône-Alpes Tourisme, en tant que gestionnaire du réseau Apidae.
          Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

        <h2 class="h3-like mtm">Limitations de responsabilité</h2>
        <p class="pre ma0">En tant que gestionnaire du réseau Apidae, Auvergne Rhône-Alpes Tourisme ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site souscription.apidae-tourisme.com, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité. En tant que gestionnaire du réseau Apidae, Auvergne Rhône-Alpes Tourisme ne pourra également être tenue responsable des dommages indirects consécutifs à l’utilisation du site.
          Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. En tant que gestionnaire du réseau Apidae, Auvergne Rhône-Alpes Tourisme se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, en tant que gestionnaire d’Apidae, Auvergne Rhône-Alpes Tourisme se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>

        <h2 class="h3-like mtm">La reproduction sur support papier</h2>
        <p class="pre ma0">A l’exception de l’iconographie, la reproduction des pages de ce site sur un support papier est autorisée, sous réserve du respect des conditions suivantes :
        ● gratuité de la diffusion,
        ● respect de l’intégrité des documents reproduits (aucune modification, ni altération d’aucune sorte),
          ● citation explicite du site souscription.apidae-tourisme.com comme source et mention que les droits de reproduction sont réservés et strictement limités.</p>

        <h2 class="h3-like mtm">La reproduction sur support électronique</h2>
        <p class="pre ma0">La reproduction de tout ou partie de ce site sur un support électronique est autorisée sous réserve de l’ajout de façon claire et lisible de la source « Auvergne Rhône-Alpes Tourisme, en tant que gestionnaire du réseau Apidae » et de la mention  » Droits réservés « . Les informations utilisées ne doivent l’être qu’à des fins personnelles, associatives ou professionnelles ; toute utilisation à des fins commerciales ou publicitaires est exclue.</p>

        <h2 class="h3-like mtm">La création de liens vers souscription.apidae-tourisme.com</h2>
        <p class="pre ma0">Auvergne Rhône-Alpes Tourisme, en tant que gestionnaire du réseau Apidae, autorise la mise en place d’un lien hypertexte pointant vers son contenu, sous réserve de :
        - ne pas utiliser la technique du lien profond (“deep linking”), c’est-à-dire que les pages du site ne doivent pas être imbriquées à l’intérieur des pages d’un autre site, mais accessible par l’ouverture d’une fenêtre.
        - mentionner la source qui pointera grâce à un lien hypertexte directement sur le contenu visé.</p>

        <p class="pre ma0">Les informations utilisées ne doivent l’être qu’à des fins personnelles, associatives ou professionnelles ; toute utilisation à des fins commerciales ou publicitaires est exclue. Cette autorisation ne s’applique pas aux sites internet diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre.
          Pour d’autres utilisations, veuillez nous consulter.</p>

        <h2 class="h3-like mtm">Portée des contenus</h2>
        <p class="pre ma0">En dépit du soin apporté à la collecte des informations ainsi qu’à la réalisation du site au moyen des techniques les plus récentes, des erreurs, omissions, inexactitudes, coupures ou additions indépendantes de notre volonté peuvent demeurer ou s’insérer sur ce site.
        En tant que gestionnaire du réseau Apidae, Auvergne Rhône-Alpes Tourisme ne ne peut, pour cette raison, être tenu à garantie, ni expressément, ni implicitement, pour l’ensemble du contenu du site ; l’utilisateur du site et des informations qu’il contient reconnaît qu’il en fait usage à ses seuls risques et périls et que  Auvergne Rhône-Alpes Tourisme, en tant que gestionnaire du réseau Apidae,  ne saurait en conséquence voir sa responsabilité engagée à raison de tout préjudice, direct ou indirect, de quelque nature que ce soit résultant pour tout ou partie de l’utilisation des informations du site.
          De même, en tant que gestionnaire du réseau Apidae, Auvergne Rhône-Alpes Tourisme, ne saurait voir sa responsabilité engagée en raison de la nature ou du contenu des sites référencés sur les pages qui suivent et notamment ceux pour lesquels un accès est permis par l’utilisation des liens hypertextes figurant aux pages de ce site. Conformément à la loi n°78-17 du 6 janvier 1978, vous disposez d’un droit d’accès et de rectification aux données vous concernant.</p>

        <h2 class="h3-like mtm">Droit applicable et attribution de juridiction</h2>
        <p class="pre ma0">Tout litige en relation avec l’utilisation du site souscription.apidae-tourisme.com est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Lyon.</p>

        <h2 class="h3-like mtm">Lexique</h2>
        <p class="pre ma0">Utilisateur : Internaute se connectant, utilisant le site susnommé.
          Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l’identification des personnes physiques auxquelles elles s’appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>


        <h2 class="h3-like mtm">Protection des données personnelles</h2>
        <p class="pre ma0">Veuillez lire notre <a href="https://www.apidae-tourisme.com/politique-de-confidentialite/" target="_blank">Politique de confidentialité</a> pour plus d’informations</p>
      </div>
    </div>
  </div>
</section>