<section id="static_section" class="bg--primary">
  <div id="confirmation_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl mbl h2-like">Pourquoi souscrire et devenir sociétaire de la SCIC SA Apidae
        Tourisme ?</h1>
      <div class="pal bg--white">
        <ul>
          <li class="mts">Parce ce que vous connaissez le réseau Apidae Tourisme, vous y croyez et vous avez envie de
            soutenir une entreprise collaborative, en phase avec vos valeurs !
          </li>
          <li class="mts">
            Parce que vous travaillez dans le secteur du tourisme et que le réseau Apidae Tourisme est en lien avec vos
            projets ou votre business
          </li>
          <li class="mts">
            Pour être partie prenante dans la gouvernance qui peut avoir un impact fort sur le développement de votre
            activité.
            Lors des Assemblées Générales, 1 sociétaire représente 1 voix. C’est l’Assemblée Générale qui approuve ou
            redresse les comptes et qui fixe les orientations générales de la coopérative. Chaque catégorie de
            sociétaire (acteurs territoriaux, fournisseurs de service, salariés de la SCIC SA Apidae Tourisme, etc.)
            élit ses représentants au Conseil d’Administration.
          </li>
          <li class="mts">Parce que, en tant que personne physique, vous bénéficiez d’une réduction d’impôts de 18 %.
            <a href="https://www.impots.gouv.fr/portail/particulier/questions/si-jinvestis-dans-une-entreprise-ai-je-droit-une-reduction-dimpot" target="_blank">Plus d’informations</a>
          </li>
        </ul>
        <a class="mtm mbm flex-container--row aic jcc no_udl u-big fw500" target="_blank" href="https://www.apidae-tourisme.com/apidae-demain/replays-webconferences-scic/">
          <i class="apidae-icon-chevronrightfilled txt--warning prvs"></i>Revoir les trois webconférences consacrées à
          la SCIC SA Apidae Tourisme
        </a>
        <video class="w75 center" playsinline controls poster="https://static.souscription.apidae-tourisme.com/apidae-souscription-preview.png">
          <source src="https://static.souscription.apidae-tourisme.com/apidae-souscription.mp4" type="video/mp4">
        </video>
        <div class="txtcenter mtl">
          <a class="btn btn--warning btn--big" href="/comment-souscrire">Comment souscrire ?</a>
        </div>
      </div>
    </div>
  </div>
</section>