<!DOCTYPE html>
<html>
<head>
  <title>Apidae Souscription - Prochainement disponible</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/favicon.ico">
  <style>
    body {
      background-color: white;
      color: black;
      text-align: center;
      font-family: helvetica, verdana, arial, sans-serif;
      margin: 0;
    }

    div.dialog {
      max-width: 640px;
      margin: 4em auto;
    }

    div.dialog p,
    div.dialog a {
      font-size: 24px;
      margin: 3em auto;
    }
  </style>
</head>

<body>
<div class="dialog">
  <img src="/logo_apidae.svg"/>

  <p>Le site de souscription au capital de la Scic SA Apidae Tourisme sera mis en ligne dans quelques jours.<br/><br/>
    Pour plus d’informations, merci d’envoyer un mail à <a href="mailto:info@apidae-tourisme.com">info@apidae-tourisme.com</a>.</p>
</div>
</body>
</html>
