<section id="static_section" class="bg--primary">
  <div id="confirmation_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl mbl h2-like">Pourquoi souscrire et devenir sociétaire de Apidae Tourisme,
        Scic SA à capital variable ?</h1>
      <div class="pal bg--white">
        <p class="ma0">
          En tant que acteur, coordinateur territorial (Offices de Tourisme, Comités départementaux de tourisme, etc.)
          ou collectivité territoriale, vous souhaitez devenir sociétaire de Apidae Tourisme, Scic SA à capital variable :
        </p>
        <ul>
          <li class="mts">Parce ce que la plateforme est au coeur de votre organisation et que vous avez besoin que le réseau soit
            solide et pérenne
          </li>
          <li class="mts">Parce que vos Data représentent une valeur importante et que vous voulez être sûrs d’en garder la maîtrise
            et la valeur
          </li>
          <li class="mts">
            Pour être partie prenante dans la gouvernance qui peut avoir un impact fort sur vos projets et votre
            stratégie.
            Lors des Assemblées Générales, 1 sociétaire représente 1 voix. C’est l’Assemblée Générale qui approuve ou
            redresse les comptes et qui fixe les orientations générales de la coopérative. Chaque catégorie de
            sociétaire (acteurs territoriaux, fournisseurs de service, salariés de Apidae Tourisme, Scic SA à capital variable, etc.)
            élit ses représentants au Conseil d’Administration.
          </li>
          <li class="mts">Parce qu’avec le développement du réseau, nos choix technologiques deviennent des standards et le coût
            marginal des évolutions techniques se réduit. Etre sociétaire de Apidae Tourisme, Scic SA à capital variable, c’est
            bénéficier d’une plateforme performante et innovante, en phase avec les évolutions du monde numérique.
          </li>
          <li class="mts">Enfin parce que vous avez envie de soutenir une entreprise collaborative, que vous y croyez et que c’est
            en phase avec vos valeurs !
          </li>
        </ul>
        <a class="mtm mbm flex-container--row aic jcc no_udl u-big fw500" target="_blank" href="https://www.apidae-tourisme.com/apidae-demain/replays-webconferences-scic/">
          <i class="apidae-icon-chevronrightfilled txt--warning prvs"></i>Revoir les trois webconférences consacrées à Apidae Tourisme, Scic SA à capital variable
        </a>
        <video class="w75 center" playsinline controls poster="https://static.souscription.apidae-tourisme.com/apidae-souscription-preview.png">
          <source src="https://static.souscription.apidae-tourisme.com/apidae-souscription.mp4" type="video/mp4">
        </video>
        <div class="txtcenter mtl">
          <a class="btn btn--warning btn--big" href="/comment-souscrire">Comment souscrire ?</a>
        </div>
      </div>
    </div>
  </div>
</section>