<h3 class="flex-container--row mtl">
  <i class="fas fa-chevron-circle-right txt--warning u-big prvs"></i><span>Code d'intégration</span>
</h3>
<p class="txtcenter">Veuillez saisir au moins un nom de domaine pour obtenir le code d'intégration.</p>