<h3 class="flex-container--row mtl">
  <i class="apidae-icon-chevronrightfilled txt--warning u-big prvs"></i><span>Code d'intégration</span>
</h3>
<% snippet = capture do %>
  <script src="<%= subscription_url(id: @subscription.id, format: :js) %>" async></script>
  <div id="apidae_subscription_widget"></div>
<% end %>
<div class="flex-container w100 mtm">
  <div class="item-fluid">
    <code id="widget_integration_code" class="u-small"><%= raw escape_once snippet %></code>
  </div>
  <div>
    <button class="btn btn--inverse" onclick="copyCode()"><i class="fas fa-copy prvs"></i>Copier</button>
  </div>
  <p class="lh ptvs">
    <small>
      <i class="fas fa-info-circle prvs"></i>Ce code doit être "copié-collé" dans la page de votre site web qui
      accueillera le widget. Il peut être inséré tel quel ou réparti dans différentes sections du site :
      typiquement, la balise &lt;script&gt;...&lt;/script&gt; pourra être insérée dans l'entête du site, alors que la
      balise &lt;div id="apidae_subscription_widget"&gt;&lt;/div&gt; sera à positionner dans votre page à l'endroit où le widget doit s'afficher.
    </small>
  </p>
</div>