<section id="new_subscription" class="bg--primary">
  <div id="form_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl mbl h2-like">Je déclare mon intention de prendre des parts</h1>
      <%= render "form" %>
    </div>
  </div>
</section>