<div class="txtcenter w40 center pal small-w66 tiny-w100 txt--white">
  <%= image_tag 'logo_apidae_mono.svg', class: 'w50' %>
  <p class="mtm mbm lh fw500">
    Le réseau évolue...<br/>
    <br/>
    La SCIC SA Apidae Tourisme sera mise en place au printemps 2020.<br/>
    <br/>
    Prenez des parts sociales au capital,<br/>
    parrainez et remportez vos badges<br/>
    bronze, argent et or !
  </p>
  <%= image_tag 'badge-pionnier-apidae.png', alt: 'badge pionnier apidae', class: 'w60' %>
  <div>
    <a href="/" class="btn btn--big btn--primary mtm mbl">Rejoignez l’aventure !</a>
  </div>
</div>
