var widgetContainer = document.querySelector("#apidae_subscription_widget");
if (widgetContainer) {
    widgetContainer.innerHTML = '<div style="text-align: center;"><img src="<%= image_path('badge-pionnier-apidae.png') %>" alt="badge pionnier apidae" style="width: 80px; height: auto;"><br/><a href="<%= root_url %>" target="_blank">Rejoignez l\'aventure !</a>'
}