<section id="widget_creation" class="bg--primary">
  <div id="confirmation_wrapper">
    <div class="w100 mw1140p center pam">
      <h1 class="txtcenter txt--white mtl mbl h2-like">Widget de souscription</h1>
      <div id="widget_content" class="bg--white">
        <h3 class="flex-container--row">
          <i class="fas fa-chevron-circle-right txt--warning u-big prvs"></i><span>Générer mon widget</span>
        </h3>
        <p class="txtcenter mts">
          Vous pouvez créer un widget qui affichera automatiquement vos badges pionniers obtenus au lors de la levée de
          fonds de Apidae Tourisme, Scic SA à capital variable. Pour cela, merci de saisir ci-dessous les urls des sites (adresses) sur
          lesquels vous voulez afficher le widget et cliquez sur le bouton "Récupérer le code". Il vous suffit ensuite
          de demander à votre webmaster d’intégrer ce code sur votre (vos) site(s).
        </p>
        <%= form_for(@subscription, url: { action: "update_widget" }, remote: true, html: {id: 'widget_form'}) do |f| %>
          <div class="txtcenter mtm">
            <div><%= f.label :widget_hosts, 'Adresses des sites web hôtes<sup>*</sup>'.html_safe, class: 'w100 fw500' %></div>
            <div>
              <%= f.text_field :widget_hosts, class: 'w100', required: true, placeholder: 'Séparées par des virgules, ex : www.monsite1.fr, www.monsite2.com' %>
            </div>
          </div>
          <div class="mtm mbs txtcenter">
            <%= f.submit "Récupérer le code", class: 'apidae_btn_warning', data: { disable_with: "Génération du code..." } %>
          </div>
        <% end %>
        <div id="widget_code">
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :page_scripts do %>
  <script>
      function copyCode() {
          var codeElt = document.querySelector("#widget_integration_code");
          if (document.body.createTextRange) {
              var range = document.body.createTextRange();
              range.moveToElementText(codeElt);
              range.select();
          } else if (window.getSelection) {
              var selection = window.getSelection();
              var range = document.createRange();
              range.selectNodeContents(codeElt);
              selection.removeAllRanges();
              selection.addRange(range);
          } else {
              console.warn("copyCode - Unsupported browser");
          }
          document.execCommand("copy");
      }
  </script>
<% end %>



