// KNACSS variables overrides

$font-family-base      : "Niramit", "Arial", "Helvetica Neue", sans-serif; // system font stack
$font-family-headings  : "Rebrand", "Arial", "Helvetica Neue", sans-serif; // font for h1, h2.. h6

// Color names
$white    : #fff;
$gray-100 : #fffbf4;
$gray-200 : #faf8f2;
$gray-300 : #e1dcca;
$gray-400 : #e1dcca;
$gray-500 : #aaa294;
$gray-600 : #A19884;
$gray-700 : #7F7763;
$gray-800 : #665f51;
$gray-900 : #756a55;
$black    : #000;

$blue-300   : #0089ce;
$blue-500   : #002474;
$green-500  : #a1d59d;
$orange-500 : #f9df4c;
$red-500    : #f46754;
$yellow-500 : #f9df4c;

// Semantic colors
$color-brand    : $green-500;
$color-primary  : $blue-500;
$color-success  : $green-500;
$color-info     : $blue-300;
$color-warning  : $orange-500;
$color-danger   : $red-500;
$color-inverse  : $gray-800;
$color-ghost    : transparent;
$color-muted    : $gray-200;

$color-base      : $gray-800;
$background-base : $white;
$link-color            : $gray-800;
$link-color-hover      : $gray-200;

// Components: buttons, badges, alerts color variants list
// Convention is: name - background-color - color - border
$variants-list: (
                (primary,    $color-primary,    $white,    none),
                (success,    $color-success,    $white,    none),
                (info,       $color-info,       $white,    none),
                (warning,    $color-warning,    $white,    none),
                (danger,     $color-danger,     $white,    none),
                (inverse,    $color-inverse,    $white,    none),
                (ghost,      $color-ghost,      $white, $white)
);

$tabs-color: $color-inverse;
$tabs-active-border: $color-primary;
$tabs-active-color: $color-primary;
