@import 'admin';

body.sibu_edit_content > div.sibu_content_panel {
  top: 0;
  padding-top: 91px;

  #edit_panel {
    max-height: calc(100% - 91px);
  }
}

.sibu_content_panel {
  #site_content.sibu_site_content {
    margin-top: 0;
    padding: 0;
    max-width: none;
  }

  .edit_mode_actions {
    button {
      margin-left: 0.5rem;
    }
  }

  .sibu_sections_tabs {
    [role="tablist"] {
      border: none;
    }

    [role="tab"][aria-selected="true"] {
      border-top: none;
      border-left: none;
      border-right: none;
    }

    [data-sb-template='title'], [data-sb-template='paragraph'] {
      background-color: $color-primary;
      color: white;
    }
  }

  header {
    top: 91px;

    //& + #site_content {
    //  margin-top: calc(9rem + 91px);
    //}
  }
}