<div class="flex-container pbs">
  <h1 class="txtleft item-fluid u-uppercase">Souscriptions</h1>
  <div class="w120p item-center">
    <%= link_to 'Export Excel', '/administration/souscriptions.xlsx', class: 'btn btn--primary', target: '_blank' %>
  </div>
</div>
<div class="mts">
  <table id="subscriptions_table" class="data_table table--zebra">
    <thead class="bg--inverse">
    <tr class="txtcenter">
      <th class="w100p">Date</th>
      <th class="w300p">Nom</th>
      <th>Anonyme</th>
      <th>Montant</th>
      <th>Catégorie</th>
      <th>Email</th>
      <th class="w100p"></th>
    </tr>
    </thead>
    <tbody class="u-smaller">
    <% if @subscriptions.any? %>
      <% @subscriptions.each do |s| %>
        <tr class="txtcenter" id="sub_<%= s.id %>">
          <%= render 'subscription_entry', s: s %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" class="txtcenter pas">
          Aucune souscription pour le moment.
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% content_for :page_scripts do %>
  <script>
      document.addEventListener("DOMContentLoaded", function (event) {
          var table = document.querySelector("#subscriptions_table");
          if (table) {
              datatable = new DataTable(table, {
                  columns: [
                      {select: 0, sort: "asc"}
                  ],
                  labels: {
                      placeholder: "Rechercher...",
                      perPage: "{select} résultats par page",
                      noRows: "Aucun résultat",
                      info: "Résultats {start} - {end} sur {rows}",
                  }
              });
          }
      });
  </script>
<% end %>