$apidae_blue: #168AC8;

.bg {
  @each $name, $background-color, $color, $border in $variants-list {
    &--#{$name} {
      background-color: $background-color;
      color: $color;
      box-shadow: $border;
    }
  }
}

.txt {
  @each $name, $background-color, $color, $border in $variants-list {
    &--#{$name} {
      color: $background-color;
    }
  }
}

.bg--white {
  background-color: #FAF8F2;
  color: $color-base;
}

.btn--inverse {
  &:hover {
    color: #CCC;
  }
}

.txt--white {
  color: $white;
}

.lh {
  line-height: 1.2;
}

.prvs {
  padding-right: 0.5rem;
}

.btn {
  border-radius: 6px;
  font-weight: 500;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 300;
}

.fw500 {
  font-weight: 500;
}

.pre {
  white-space: pre-line;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

button:focus {
  outline:0;
}

input.checkbox, input.radio {
  -webkit-appearance: inherit;
}

input[type='text'] {
  -webkit-appearance: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-ms-expand {
    display: none;
  }
}

video {
  display: block;
  max-height: calc(90vh - 90px);
  max-width: 100%;
  margin: 0 auto;
}

a.no_udl {
  text-decoration: none;
}

// prefixed flex and grid versions
.flex-container {
  -ms-flex-wrap: wrap
}

.flex-container--row {
  -ms-flex-direction: row;
}

.flex-container--column {
  -ms-flex-direction: column;
}

.apidae_btn {
  &_outline {
    font-size: 14px;
    padding: 16px 24px;
    border-radius: 24px;
    border: 1px solid $apidae_blue;
    background: none;
    color: $apidae_blue;
  }

  &_solid {
    font-size: 14px;
    padding: 20px 32px;
    border-radius: 32px;
    background: $apidae_blue;
    background: linear-gradient(90deg, rgb(0, 107, 199) 50%, rgb(0, 170, 255) 100%);
    color: $white;
    text-decoration: none;
  }
}

