.bg {
  @each $name, $background-color, $color, $border in $variants-list {
    &--#{$name} {
      background-color: $background-color;
      color: $color;
      box-shadow: $border;
    }
  }
}

.txt {
  @each $name, $background-color, $color, $border in $variants-list {
    &--#{$name} {
      color: $background-color;
    }
  }
}

.lh {
  line-height: 1.1;
}

.btn {
  border-radius: 6px;
  font-weight: 500;
}

.fw300 {
  font-weight: 300;
}

.fw500 {
  font-weight: 500;
}
