@media (max-width: 640px) {
  #subscription_form {
    #infos_fields {
      max-height: none !important;
    }
  }
}

#subscription_form {
  .tabs__list {
    margin: 0;
    padding: 0;
  }
  .tabs__item {
    display: inline-block;

    > a {
      text-decoration: none;
    }

    //&.invalid_tab {
    //  > .tabs__link {
    //    color: $color-danger;
    //    &:focus, &[aria-selected="true"] {
    //      border-bottom-color: $color-danger;
    //    }
    //    &:after {
    //      content: '*';
    //    }
    //  }
    //}
  }

  .tabs__link {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 2rem 2.5rem;
    color: $tabs-color;
    background-color: $white;
    text-decoration: none;
    opacity: 0.6;
    transition: .25s;
    transition-property: color, background-color, opacity;

    &:hover {
      cursor: not-allowed;
    }

    &.js-tablist__link:focus {
      color: $tabs-active-color;
      outline: 0;

      span {
        border-color:  $tabs-active-color;
      }
    }

    &.js-tablist__link:hover {
      cursor: pointer;
    }

    span {
      display: inline-block;
      border: 1px solid $tabs-color;
      border-radius: 50%;
      font-size: 1.6rem;
      width: 2.4rem;
      height: 2.4rem;
      text-align: center;
      margin-right: 0.5rem;
    }
  }

  [aria-selected="true"].tabs__link {
    color: $tabs-active-color;
    outline: 0;
    opacity: 1;

    span {
      border-color: $tabs-active-color;
    }
  }

  .tabs__content {
    padding: 5rem 10rem;
    min-height: 60vh;

    h3 {
      align-items: center;
      text-transform: uppercase;
    }

    &.submitted {
      [type="color"],
      [type="date"],
      [type="datetime-local"],
      [type="email"],
      [type="month"],
      [type="number"],
      [type="password"],
      [type="search"],
      [type="submit"],
      [type="tel"],
      [type="text"],
      [type="time"],
      [type="url"],
      [type="week"],
      [type="checkbox"],
      select,
      textarea {
        &:invalid {
          box-shadow: 0 0 0 2px $color-danger inset;
        }
      }

      .invalid_field sup {
        color: $color-danger;
      }

      div.invalid_field + div {
        > input[type=radio] + label {
          color: $color-danger;
        }
      }
    }
  }

  [aria-hidden="true"].tabs__content {
    display: none;
  }

  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
  }

  input[type=radio] + label, label.reg {
    font-weight: 400;
  }

  .category_desc {
    p:last-child {
      padding-left: 2rem;
      border-left: 1px solid $color-primary;
    }
  }

  #person_type_field {
    label {
      font-size: 1.1em;
      margin: 0 0 0 5px;
    }
  }

  #infos_fields {
    max-height: 520px;

    &.person_type_pp {
      max-height: 540px;
    }

    &.rep_visible {
      max-height: 840px;
    }

    > .flex-container {
      max-width: 50%;
      width: 50%;
    }

    #subscription_legal_type_desc {
      margin-top: 5px;
    }

    input, select {
      font-size: 14px;
    }

    &.person_type_pp {
      #subscription_first_name, #subscription_last_name {
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }

  input[type=checkbox] + label {
    font-weight: normal;
  }


  #apidae_form_errors {
    color: $color-danger;
  }

  ul.autocomplete__menu {
    padding-left: 0;
    border: 1px solid;
  }

  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
    font-size: 16px;
  }

  .autocomplete__input {
    color: #FFFFFF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: none;

    &::placeholder {
      color: #DEDEDE;
      opacity: 0.8;
    }

    &.autocomplete__input--default {
      text-overflow: ellipsis;
      padding: 5px;
      width: 100%;

      &.autocomplete__input--focused {
        outline: none;
      }
    }
  }

  #signing_canvas {

    & > div:first-child {
      position: relative;
    }

    canvas {
      border: none;
      box-shadow: 0 0 0 1px #333 inset;
      max-width: 100%;
      height: 120px;

      & + button {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
      }
    }

    #download_signature {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.ie_browser {
  #subscription_form #infos_fields {
    height: 650px;

    &.person_type_pp {
      height: 540px;
    }
  }
}

#confirmation_content {
  padding: 5rem 10rem;
  min-height: 60vh;

  h3 {
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}