dialog {
  display: block;
  border: 0;
}

.no-scroll {
  overflow: hidden;
}

.simple-modal-overlay,
.simple-animated-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  opacity: .8;
  z-index: 666;
  cursor: pointer;
}

.simple-modal-overlay[data-background-click="disabled"],
.simple-animated-modal-overlay[data-background-click="disabled"] {
  cursor: auto;
}

.simple-modal,
.simple-animated-modal {
  position: fixed;
  left: 15%;
  top: 120px;
  width: 70%;
  max-height: calc(98vh - 120px);
  border: 2px solid $color-primary;
  background: #fff;
  z-index: 667;
  padding: 2em;
  right: auto;
  overflow: auto;
}

.simple-modal-close,
.simple-animated-modal-close {
  float: right;
  background: $color-primary;
  border-radius: 1em;
  color: #fff;
  border: 0;
  font: inherit;
  padding: .25em .5em;
  cursor: pointer;
}

.simple-modal-close:focus,
.simple-modal-close:hover,
.simple-modal-close:active {
  outline: 1px dotted #fff;
}

@media (max-width: 575px) {
  .simple-modal,
  .simple-animated-modal {
    left: 5%;
    top: 100px;
    height: 90%;
    width: 90%;
    padding: 10px;
  }

  #js-modal {
    h1#modal-title {
      font-size: 18px;
    }

    table > tbody {
      font-size: 12px;
    }

    .dataTable-top > * {
      width: 48%;
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .simple-modal,
  .simple-animated-modal {
    left: 3%;
    top: 100px;
    width: 94%;
    height: 90%;
    padding: 10px;
  }
}

#js-modal {
  h1 {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1;
  }

  tbody {
    font-size: 14px;

    tr > td {
      line-height: 1.1;
    }
  }

  .dataTable-bottom, .dataTable-top {
    padding-left: 0;
    padding-right: 0;
  }

  .dataTable-selector {
    padding-right: 2rem;
  }

  .dataTable-sorter {
    &:before {
      opacity: 0.6;
      border-top-color: white;
    }
    &:after {
      opacity: 0.6;
      border-bottom-color: white;
    }
  }

  .dataTable-table {
    > thead > tr > th {
      text-align: center;
    }
  }

  .data_table td {
    vertical-align: middle;
  }
}