@media (max-width: 768px) {
  header {
    position: initial;

    & + #site_content {
      margin-top: 0;
    }

    .vsep {
      display: none;
    }
  }

  div#site_header {
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;

    & > :first-child {
      width: calc(100% - 180px);
      padding-left: 1rem;
    }

    & > a:last-child {
      order: 2;
    }

    & > div {
      order: 3;
      font-size: 12px;
      margin-top: 1rem;
      width: 50%;
      padding: 0 1rem;

      &:nth-child(6) {
        flex: 1 1 0%;
      }

      &:nth-child(2) {
        width: 100%;
      }
    }

    & > #ratio_figure {
      flex: auto;
    }
  }

  #site_content section#home_data {
    #rank_chart_wrapper, #pie_chart_container {
      display: block;
      position: initial;
      float: left;
      width: 50%;
      padding: 2rem;
      margin: 0;
    }

    #data_charts #home_map {
      min-height: auto;
    }
  }

  #timeline_container {
    clear: both;
    padding-top: 2rem;

    #timeline_steps {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  div#site_header {
    flex-wrap: wrap;

    > a {
      width: 25% !important;
      margin: auto !important;
    }

    .btn {
      padding: 1rem;
      font-size: 12px;
    }
  }

  #site_content #home_data > * > :first-child {
    height: calc(530px - 15rem) !important;
    min-height: auto;
  }

  #site_content #home_data > * > :last-child {
    height: calc(720px - 15rem) !important;
    min-height: auto;
  }

  #site_content section#home_data {
    #rank_chart_wrapper, #pie_chart_container {
      width: 100%;
    }
  }

  #home_figures > div {
    align-items: center !important;
    > * {
      width: auto !important;
    }
    #ratio_figure div.fl {
      width: 90px;
    }
  }

  section#home_phases {
    .grid-4 > div {
      margin-bottom: 2rem;

      &:not(:last-child):after {
        display: none;
      }
    }
  }

  .hexa_steps {
    .grid > div {
      margin-bottom: 1rem !important;

      &:not(:last-child):after {
        display: none;
      }
    }
  }

  .posts_list .grid {
    padding: 1rem;

    > a {
      padding: 0;
    }
  }

  .categories_tabs {
    .tabs__item {
      width: 50%;

      > a {
        height: 48px;
      }
    }
  }

  #footer_links a {
    display: block;
  }

  #subscription_form {
    li.tabs__item, a.tabs__link {
      width: 100%;
    }

    div .tabs__content {
      padding: 2rem;
    }

    .w15, .w40, .w60 {
      width: 100% !important;
      text-align: left !important;
    }

    div#infos_fields > .flex-container {
      max-width: none;
      width: 100%;
    }
  }

  div#confirmation_content {
    padding: 2rem;
  }
}
