.bg {
  @each $name, $background-color, $color, $border in $variants-list {
    &--#{$name} {
      background-color: $background-color;
      color: $color;
      box-shadow: $border;
    }
  }
}

.btn {
  border-radius: 6px;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid $gray-700;
}

#site_header {
  padding: 1rem 2rem;
  align-items: flex-end;
  height: 9rem;

  > :first-child {
    margin-right: 4rem;

    img {
      height: 7rem;
      width: auto;
    }
  }

  a:not(:first-child) {
    text-decoration: none;
    display: inline-block;
    line-height: 0.8;
    text-align: center;
    margin: 0.5rem 2rem 1.5rem 2rem;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    padding: 1.2rem 3rem;
    margin: 1rem 1rem 1.5rem 1rem;

    &:hover {
      color: $color-info;
    }
  }
}

#site_content {
  margin-top: 9rem;

  #home_data {
    > * {
      height: calc(100vh - 15rem);
    }

    #home_map, #home_charts {
      height: 100%;
    }
  }
}

#home_map {
  path {
    stroke: $white;
    stroke-width: 1px;

    $map_levels: (0, 1, 2, 3, 4, 5, 6, 7, 8);

    @each $level in $map_levels {
      &.level_#{$level} {
        fill: lighten($color-warning, percentage((8 - $level) / 24));
      }
    }

    &:hover {
      cursor: pointer;
      stroke-width: 3px;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    }
  }
}

footer {
  a {
    color: $white;
    text-decoration: none;
    margin: 0 1rem;

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}