@font-face {
  font-family: 'apidae';
  src:  font-url('apidae.eot');
  src:  font-url('apidae.eot#iefix') format('embedded-opentype'),
  font-url('apidae.ttf') format('truetype'),
  font-url('apidae.woff') format('woff'),
  font-url('apidae.svg#apidae') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="apidae-icon-"], [class*=" apidae-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apidae' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apidae-icon-chevronright:before {
  content: "\e90a";
}
.apidae-icon-chevronleft:before {
  content: "\e90c";
}
.apidae-icon-clock:before {
  content: "\e900";
}
.apidae-icon-map:before {
  content: "\e901";
}
.apidae-icon-news:before {
  content: "\e902";
}
.apidae-icon-action:before {
  content: "\e903";
}
.apidae-icon-arrowdown:before {
  content: "\e904";
}
.apidae-icon-arrowleft:before {
  content: "\e905";
}
.apidae-icon-arrowright:before {
  content: "\e906";
}
.apidae-icon-arrowup:before {
  content: "\e907";
}
.apidae-icon-bee:before {
  content: "\e908";
}
.apidae-icon-cancel:before {
  content: "\e909";
}
.apidae-icon-chevronleftfilled:before {
  content: "\e90b";
}
.apidae-icon-chevronrightfilled:before {
  content: "\e90d";
}
.apidae-icon-close:before {
  content: "\e90e";
}
.apidae-icon-creativework:before {
  content: "\e90f";
}
.apidae-icon-event:before {
  content: "\e910";
}
.apidae-icon-idea:before {
  content: "\e911";
}
.apidae-icon-list:before {
  content: "\e912";
}
.apidae-icon-organization:before {
  content: "\e913";
}
.apidae-icon-pen:before {
  content: "\e914";
}
.apidae-icon-person:before {
  content: "\e915";
}
.apidae-icon-plus:before {
  content: "\e916";
}
.apidae-icon-product:before {
  content: "\e917";
}
.apidae-icon-project:before {
  content: "\e918";
}
.apidae-icon-role:before {
  content: "\e919";
}
.apidae-icon-search:before {
  content: "\e91a";
}
.apidae-icon-service:before {
  content: "\e91b";
}
.apidae-icon-share:before {
  content: "\e91c";
}
.apidae-icon-star:before {
  content: "\e91d";
}
.apidae-icon-validate:before {
  content: "\e91e";
}
