@font-face {
  font-family: 'apidae-actions';
  src:  font-url('apidae-actions.eot');
  src:  font-url('apidae-actions.eot#iefix') format('embedded-opentype'),
  font-url('apidae-actions.ttf') format('truetype'),
  font-url('apidae-actions.woff') format('woff'),
  font-url('apidae-actions.svg#apidae-actions') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="apidae-action-"], [class*=" apidae-action-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apidae-actions' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apidae-action-inclusions:before {
  content: "\e900";
}
.apidae-action-validate:before {
  content: "\e901";
}
.apidae-action-add:before {
  content: "\e902";
}
.apidae-action-close:before {
  content: "\e903";
}
.apidae-action-down:before {
  content: "\e904";
}
.apidae-action-right:before {
  content: "\e905";
}
.apidae-action-left:before {
  content: "\e906";
}
.apidae-action-search:before {
  content: "\e907";
}
.apidae-action-up:before {
  content: "\e908";
}
.apidae-action-cancel:before {
  content: "\e909";
}
.apidae-action-my-seeds:before {
  content: "\e90a";
}
.apidae-action-graph:before {
  content: "\e90b";
}
.apidae-action-history:before {
  content: "\e90c";
}
.apidae-action-link:before {
  content: "\e90d";
}
.apidae-action-list:before {
  content: "\e90e";
}
.apidae-action-pen:before {
  content: "\e90f";
}
.apidae-action-share:before {
  content: "\e910";
}
.apidae-action-star:before {
  content: "\e912";
}
