<!DOCTYPE html>
<html>
  <head>
    <title>Souscription Apidae Tourisme</title>
    <meta charset="UTF-8">
    <meta name="description" content="Souscription Apidae Tourisme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'standalone', media: 'all' %>
    <%= javascript_include_tag 'standalone' %>
  </head>

  <body>
    <div id="standalone_content">
      <%= yield %>
    </div>
  </body>
</html>
